* {
  box-sizing: border-box;
}

:root {
  --main-color: rgba(10, 44, 114, 1);
  --second-color: rgba(185, 149, 90, 1);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


body {
  direction: ltr;
  font-family: "Changa", sans-serif !important;
}

.spanhand {
  color: var(--second-color);
  font-weight: 300;
  font-size: 26px;
}

.section-parent {
  background-image: url(/image/Group\ 93.png);
  background-size: cover;
  margin-bottom: 68px;
}

/* start  navbar */
.fa-whatsapp {
  background-color: rgba(228, 241, 241, 1);
  border-radius: 50%;
  color: rgba(18, 140, 126, 1);
}

.icons .fa-list {
  background-color: rgba(23, 70, 157, 0.1);
  border-radius: 50%;
  color: var(--main-color);
}

.fa-phone-volume {
  color: var(--second-color);
}

.navbar-nav {
  font-weight: bold;
}

.nav-item {
  font-size: 16px;
  font-weight: 600;
}

.navbar-nav .nav-item .spicial-li {
  font-weight: 600;
  color: rgba(185, 149, 90, 1);
}

.navbar-nav .nav-item:hover a {
  color: rgba(185, 149, 90, 1);
}

/* end navbar */

/* start slider */
.hand {
  flex: 1;
  text-align: end;
}

.title-section {
  color: var(--second-color);
}

.text-spicial {
  color: var(--main-color)
}

.button-link {
  background-color: var(--main-color);
  color: white;
  padding: 8px 13px;
  font-weight: bold;
  /* border-top-left-radius: 40px; */
  margin-top: 10px;
  border: none;
  position: absolute;
  right: 20px;
  border-radius: 20px;
}

.button-link svg {
  background-color: var(--second-color);
  /* padding: 10px 5px 10px 10px; */
  padding: 10px;
  border-radius: 50%;
}

/* end slider */

/* start  about us */
.parent-about {
  margin-bottom: 113px;
}

.first-box {
  background-color: red;
  text-align: end;
  color: white;
}

.first-box h1 {
  font-size: 18px;
}

.first-box p {
  font-size: 15px;
  line-height: 1.;
}

.first-box {
  background-color: rgba(23, 70, 157, 0.1);
  color: var(--main-color);
  font-weight: bold;
  font-size: 14px;
  border-radius: 20px;
}

.box-spicial {
  color: var(--second-color);
  background-color: white;
}

.box-text {
  text-align: end;
  line-height: 2;
}


.titl-box {
  color: var(--main-color);
  text-align: end;
  font-weight: 600;
  font-size: 36px;
}

.text-box h1 {
  font-size: 18px;
  font-weight: 600;
}

.text-box p {
  font-size: 14px;
  font-weight: 400;
}

.parg-color {
  color: rgba(69, 69, 69, 1);
  font-weight: 300;
  font-size: 18px;
}

/* end  about us */

/* start services */
.services-parent {
  margin-bottom: 132px;
}

.text-servecis-parent {
  color: var(--main-color);
  font-weight: bold;
}

.box-serv {
  border-radius: 30px;
}

.box-serv h1 {
  color: var(--second-color);
  margin-top: 15px;
  margin-bottom: 12px;
}

.box-serv p {
  font-size: 14px;
  font-weight: 300;
  color: rgba(9, 29, 71, 1)
}

.two-serv {
  background: linear-gradient(180deg, #DEE8FF 0%, #F7F9FC 100%);
}

.four-serv {
  background: linear-gradient(180deg, rgba(222, 232, 255, 0.5) 0%, rgba(247, 249, 252, 0.5) 100%);
}

.btn-more {
  color: var(--second-color);
  border: none;
  font-weight: 500;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 10px;
}

.btn-salary {
  color: var(--main-color);
  border: none;
  font-weight: 500;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 10px;
}

/* end services */

/* start why us */
.why-us {
  margin-bottom: 100px;
}

.grid-us {
  display: flex;
  justify-content: center;
  gap: 15px;
  text-align: end;
}

.hand-col-spicial {
  max-width: 784px;
}

.icon-us {
  color: var(--second-color);
  font-size: 20px;
  position: relative;
  top: -24px;
}

.title-text-us {
  padding-bottom: 15px;
  color: var(--main-color);
  font-size: 36px;
  font-weight: 600;
}

.pargraph-spicial {
  color: rgba(69, 69, 69, 1);
  font-size: 18px;
  display: flex;
  gap: 10px;
  justify-content: end;
}

.pargraph-spicial svg {
  color: var(--second-color);
}

.title-grid-us h1 {
  color: var(--main-color);
  font-size: 36px;
  font-weight: 600;
}

.span-us {
  color: var(--second-color);
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-bottom: 15px;
}

.test-mar {
  margin: auto;
  padding: 40px;
}

.parent-why-us {
  background-color: var(--main-color);
  border-radius: 100px;
  height: 100px;
  padding: 0px 20px;
}

.us-icon {
  font-size: 20px;
  position: relative;
}

.us-icon .fa-phone-volume {
  background-color: var(--second-color);
  color: white;
  padding: 7px;
  border-radius: 50%;
}

.us-icon .fa-whatsapp {
  background-color: rgba(18, 140, 126, 1);
  color: white;
}

.title-us h1 {
  font-size: 20px;
  color: white;
}

.title-us p {
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}

.image-us {
  position: relative;
  margin-top: -85px;
}

.box-grid-us {
  max-width: 455px;
  height: 419px;
}

.box-grid-us img {
  max-width: 100%;
  height: 100%;
}

/* end why us */

/* start works */
.worksup {
  margin-bottom: 120px;
}

.text-title-work {
  color: var(--main-color);
  font-weight: bold;
  margin-bottom: 20px;
}

.parg-works {
  color: rgba(69, 69, 69, 1);
  line-height: 2;
  font-weight: 300;
  font-size: 18px;
}

.icon-work {
  bottom: -20px;
}

.hand-icon-work {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;

}

.hand-icon-work .bg-whatsap {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hand-icon-work .bg-phone {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(248, 244, 239, 1);
  ;
}

.image-work img {
  max-width: 100%;
}

/* end works */

/* strat cta */
/* .cta-setction .img img{
  max-width: 100%;
} */
.title-cta {
  color: var(--main-color);
}

.parent-icon .fa-whatsapp {
  background-color: rgba(18, 140, 126, 1);
  color: white;
}

.parent-icon .fa-phone-volume {
  background-color: var(--second-color);
  color: white;
  border-radius: 50%;
}

.btn-cta {
  background-color: var(--main-color);
  color: white;
  border-radius: 40px;
  padding: 7px 10px;
  border: none;
}

.btn-cta .fa-arrow-left {
  background-color: var(--second-color);
  color: white;
  padding: 10px;
  border-radius: 50%;
}

.text-cta {
  color: var(--main-color);
  font-size: 30px;
  font-weight: bold;
}

/* end cta */

/* strat footer  */
.footer-up {
  background-image: url(/image/Group\ 93.png);
  background-size: cover;
}

.title-footer-box {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
}

.text-align {
  text-align: end;
}

.font-weight {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}

.image-footer {
  margin-bottom: 20px;
}

.icons-footer .fa-whatsapp {
  background-color: white;
  color: rgba(102, 102, 102, 1);
}

.location h1 {
  font-size: 14px;
  font-weight: 400;
}

.location {
  font-size: 14px;
  font-weight: 300;
  color: rgba(95, 95, 95, 1);
}

.bg-location {
  background-color: rgba(248, 244, 239, 1);
  color: var(--second-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.hand-num-parg {
  font-size: 14px;
}

.connection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}


.icon-connect {
  background-color: rgba(248, 244, 239, 1);
  ;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--second-color);
  border-radius: 50%;
}

.envolpe-connect {
  background-color: rgba(248, 244, 239, 1);
  ;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--second-color);
  border-radius: 50%;
}

.title-end h4 {
  margin: 0;
}

.end-footer {
  font-size: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
}

/* end footer  */




























/* start media 992 */
@media (max-width:992px) {
  .parent-why-us {
    width: 600px;
  }

  .hand-col-spicial {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mini-title-us {
    width: max-content;
  }

  .connection {
    display: block;
  }
}

/* end 992 */

/* start 786 */
@media (max-width:768px) {
  .imga-work-style {
    margin-top: 88px;
  }

  .btn-cta {
    width: 160px;
  }

  .text-cta {
    font-size: 18px;
  }

  .parent-why-us {
    width: fit-content;
    margin: auto;
  }

  .grid-us {
    display: block;
  }

  .connection {
    display: block;
  }
}

/* end 786 */

/* start small */
@media (max-width: 576px) {
  .ulLinks {
    background-color: rgba(23, 70, 157, 1);
    position: absolute;
    width: 100%;
    left: 0;
    top: 85px;
    padding: 10px;
    z-index: 5;
  }

  .ulLinks::before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent blue transparent;
    right: 25px;
    top: -18px;
  }

  .ulLinks .nav-item a {
    color: white;
  }

  .text-section {
    color: red;
  }

  .hand {
    text-align: center;
  }

  .button-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
  }

  .box-text {
    text-align: center;
  }

  .titl-box {
    text-align: center;
  }

  .text-box {
    text-align: center;
  }

  .text-box h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .parent-why-us {
    height: 65px;
    width: 323px;
  }

  .title-us h1 {
    font-size: 15px;
    position: relative;
  }

  .title-us p {
    position: relative;
    margin: 0;
    font-size: 10px;
  }

  .us-icon {
    position: relative;
  }

  .imga-work-style {
    margin-top: 80px;
  }

  .text-cta {
    color: var(--main-color);
    font-weight: bold;
    font-size: 20px;
    width: max-content;
    position: absolute;
    margin-top: -100px;
    right: 10px;
  }

  .parent-icon {
    width: max-content;
  }

  .margin {
    margin-right: 10px;
    margin-top: 20px;
  }

  .grid-us {
    display: inline-block;
  }

  .connection {
    display: block;
  }
}

/* end media qeiry */